<div class="mt-4">
  <h3>Tạo sinh viên</h3>
  <form method="POST" action="/courses/store">

  <div class="form-group">
      <label for="userId">Mã sinh viên</label>
      <input type="text" class="form-control" id="userId" name="userId"/>
    </div>
    <div class="form-group">
      <label for="name">Tên sinh viên</label>
      <input type="text" class="form-control" id="name" name="name"/>
    </div>

    <div class="form-group">
      <label for="date">Ngày sinh</label>
      <input type="text" class="form-control" id="date" name="date"/>
    </div>

    <div class="form-group">
      <label for="avarageScore">Điểm trung bình</label>
      <input type="text" class="form-control" id="avarageScore" name="avarageScore"/>
    </div>

    <div class="form-group">
      <label for="major">Ngành học</label>
      <input type="text" class="form-control" id="major" name="major"/>
    </div>
    
    <button type="submit" class="btn btn-primary">Thêm sinh viên</button>
  </form>
</div>